<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="3">
  <test name="Test">
    <parameter name="browserName" value="Chrome"/>
    <parameter name="platformName" value="Windows 10"/>
    <parameter name="browserVersion" value="112"/>
    <classes>
      <class name="testcases.TestNGTestScenario1"/>
      <class name="testcases.TestNGTestScenario2"/>
      <class name="testcases.TestNGTestScenario3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
